{% extends 'base.html' %}
{% block head %}
<script type="text/javascript" src="{{STATIC_URL}}js/jsAddress.js"></script>

{% endblock %}
{% block body %}
<body onload="addressInit('cmbProvince', 'cmbCity', 'cmbArea', '{{form.province.value}}', '{{form.city.value}}', '{{form.area.value}}');">
{% endblock %}
{% block content %}
<form method="post" data-ajax="false" action="{% url 'change_info' %}">{% csrf_token %}
<h3>修改资料</h3>
<label>姓：</label>{{form.last_name}}{{form.last_name.errors}}
<label>名：</label>{{form.first_name}}{{form.first_name.errors}}
<label>电子邮箱：</label>{{form.email}}{{form.email.errors}}
<label>性别：</label>{{form.sex}}{{form.sex.errors}}
<label>生日：</label><input type="date" name="birth" value="{{form.birth.value}}" />{{form.birth.errors}}
<label>省：</label><select id="cmbProvince" name="province"></select>
<label>市：</label><select id="cmbCity" name="city"></select>
<label>区：</label><select id="cmbArea" name="area"></select>
<label>详细地址：</label>{{form.address}}{{form.address.errors}}
<label>手机：</label>{{form.phone}}{{form.phone.errors}}
{% for key,value in info.items %}
{% if key == 'OK'%}
<p style="color:green">{{value}}</p>
{% else %}
<p style="color:red">{{value}}</p>
{% endif %}
{% endfor %}
<button type="submit" data-theme="b" >提交</button>
{% if user.teacher.id %}
<a href="{% url  'teacher_center' %}" data-role="button">返回</a>
{% elif user.student.id %}
<a href="{% url  'student_center' %}" data-role="button">返回</a>
{% endif %}
</form>

{% endblock %}
