{% extends 'base.html' %}
{% block content %}
<form method="post" data-ajax="false" action="{% url 'change_password' %}">{% csrf_token %}
<h3>修改密码</h3>
<label>原密码：</label>{{form.oldpass}}{{form.oldpass.errors}}
<label>新密码：</label>{{form.newpass}}{{form.newpass.errors}}
<label>重复新密码：</label>{{form.repeatpass}}{{form.repeatpass.errors}}
{% for key,value in info.items %}
{% if key == 'OK'%}
<p style="color:green">{{value}}</p>
{% else %}
<p style="color:red">{{value}}</p>
{% endif %}
{% endfor %}
<button type="submit" data-theme="b" >提交</button>
<a href="{% url 'user_login' %}" data-role="button">返回</a>
</form>

{% endblock %}
