{% extends 'base.html' %}
{% block head %}
<script type="text/javascript">
<script src="//cdn.bootcss.com/jquery/1.8.3/jquery.js"></script>
<script src="//cdn.bootcss.com/jquery-validate/1.11.1/jquery.validate.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/workupload.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/workvalidate.js"></script>
<link href="{{STATIC_URL}}css/style.css" rel="stylesheet" type="text/css"/>
{% endblock %}


{% block content %}
<form id="form" method="post" enctype="multipart/form-data" action="javascript: uploadEditFile()">{% csrf_token %}
<div style="text-align:center;">修改问题</div>
	<div id="id" hidden>{{id}}</div>
	<label>名称:</label>{{form.name}}{{form.name.errors}}   
	<label>简述(选填）:</label>{{form.desc}}{{form.desc.errors}}  
	<label>详细内容:</label>{{form.content}}{{form.content.errors}}
	<label>视频（可选）:</label>{{form.video}}{{form.video.errors}}
	<label>音频（可选）:</label>{{form.audio}}{{form.audio.errors}}
	<label>截图（可选）:</label>{{form.image}}{{form.image.errors}} 
	<br>
	处理进度：
	<div class="progressbar_1"> 
     <div id="bar" class="bar" ></div> 
    </div> 
	<br>
	<button type="submit" data-theme="b" >提交</button>
	<a href="{% url 'show_ask' id %}" data-role="button">返回</a>
</form>
{% endblock %}