{% extends 'base.html' %}
{% block head %}
<link href="{{STATIC_URL}}css/nivo-slider.css" rel="stylesheet">
<script src="//cdn.bootcss.com/jquery-nivoslider/3.2/jquery.nivo.slider.pack.js"></script>
<script type="text/javascript">
$(window).load(function() {
    $('#slider').nivoSlider({
        slices:15,
        boxCols:8,
        boxRows:4,
        animSpeed:500,
        pauseTime:3000,
        startSlide:0,
        directionNav:true,
        controlNav:true,
        controlNavThumbs:false,
        pauseOnHover:true,
        manualAdvance:false,
    prevText: '<',            
    nextText: '>', 
    });
    
});
</script>
<style>
.ui-block-a, 
.ui-block-b
{
}
.ui-block-c 
{
border: 1px solid lightgrey;
height: 120px;
font-weight: bold;
text-align: center;
padding: 4px;
}
.ui-block-c img
{
max-height:90px;height:expression(document.body.clientHeight > 90? "90px": "auto");
}

.more
{
border: 1px solid lightgrey;
height: 120px;
font-weight: bold;
text-align: center;
padding: 4px;
}
.more img
{
max-height:120px;height:expression(document.body.clientHeight > 120? "120px": "auto");
}
</style>
{% endblock %}
{% block content %}

    <div id="slider" class="nivoSlider">
    <img src="{{media_url}}a1.jpg" alt="" />
    <img src="{{media_url}}a2.jpg" alt="" />
    <img src="{{media_url}}a3.jpg" alt="" />
	</div>

    <div>
   
    <div class="ui-grid-a">
	{% for type in types %}
     		<div class="ui-block-c"><a href="{% url 'view_worktype' type.id %}" data-ajax="false"><img src="{{media_url}}{{type.img}}" alt="{{type.name}}" /></a><br><span style="color:grey">{{type.name}}</span></div>
	{% endfor %}
   </div>
   <div >
    <div class="more"><a href="{% url 'more_type' %}" data-ajax="false"><img src="{{media_url}}worktype/more.jpg"/></a></div>

    </div>
 
    <div>
    <label><b>最新问题</b></label>&nbsp;&nbsp;<a href="{% url 'more_ask' %}" data-ajax="false">更多</a><br><br>
    <ul data-role="listview">
    {% for work in works %}   
    <li><a href="{% url 'show_answer' work.id %}" data-ajax="false">{{work.name}}</a></li>
    {% endfor %}
    </ul>
    </div>

    <hr>
    <div>
    <label><b>最新动态</b></label>&nbsp;&nbsp;<a href="{% url 'more_log' %}" data-ajax="false">更多</a><br><br>
    <ul data-role="listview">
    {% for log in logs %}
    <li>
    {% if log.profile.type == 1 %}
    <a href="{% url 'view_teacher' log.profile.id %}" data-ajax="false">{{log.profile.user.last_name}}老师{{log.content}}</a>
    {% elif log.profile.type == 2 %}
    <a href="{% url 'view_student' log.profile.id %}" data-ajax="false">{{log.profile.user.last_name}}同学{{log.content}}</a>
    {% endif %}
    </li>
    {% endfor %}
    </ul>
    </div>
    
{% endblock %}
