{% extends 'base.html' %}
{% block head %}
<link href="{{STATIC_URL}}css/nivo-slider.css" rel="stylesheet">
<script src="//cdn.bootcss.com/jquery-nivoslider/3.2/jquery.nivo.slider.pack.js"></script>
<script type="text/javascript">
$(window).load(function() {
    $('#slider').nivoSlider({
        slices:15,
        boxCols:8,
        boxRows:4,
        animSpeed:500,
        pauseTime:3000,
        startSlide:0,
        directionNav:true,
        controlNav:true,
        controlNavThumbs:false,
        pauseOnHover:true,
        manualAdvance:false,
    prevText: '<',            
    nextText: '>', 
    });
    
});
</script>
<style>
.ui-block-a, 
.ui-block-b
{
}
.ui-block-c 
{
border: 1px solid lightgrey;
height: 120px;
font-weight: bold;
text-align: center;
padding: 4px;

}
.ui-block-c img
{
max-height:90px;
height:expression(document.body.clientHeight > 90? "90px": "auto");
max-width:90px;
width:expression(document.body.clientWidth > 90? "90px": "auto");
}

.more
{
border: 1px solid lightgrey;
height: 100px;
font-weight: bold;
text-align: center;
padding: 20px;
}
.more img
{
max-height:80px;height:expression(document.body.clientHeight > 80? "80px": "auto");
}
</style>
{% endblock %}
{% block content %}

    <div id="slider" class="nivoSlider">
    <img src="{{media_url}}a1.jpg" alt="" />
    <img src="{{media_url}}a2.jpg" alt="" />
    <img src="{{media_url}}a3.jpg" alt="" />
	</div>

    <div>
   
    <div class="ui-grid-a">
	{% for type in types %}
     		<div class="ui-block-c"><a href="{% url 'view_worktype' type.id %}" data-ajax="false"><img src="{{media_url}}{{type.img}}" alt="{{type.name}}" /></a><br><span style="color:grey">{{type.name}}</span></div>
	{% endfor %}
   </div>
   <div >
    <div class="more"><a href="{% url 'more_type' %}" data-ajax="false"><img src="{{media_url}}worktype/more.png"/></a><br><span style="color:grey">更多分类</span></div>

    </div>
 <div class="ui-grid-b">
     		<div class="ui-block-c" style="line-height:50px;"><a href="{% url 'more_ask' %}" data-ajax="false"><span style="color:grey">最新问题</span><br><img src="{{media_url}}worktype/new.png"/></a></div>
     		<div class="ui-block-c" style="line-height:50px;"><a href="{% url 'top_teacher' %}" data-ajax="false"><span style="color:grey">教师排行</span><br><img src="{{media_url}}worktype/top.png"/></a></div>
     		<div class="ui-block-c" style="line-height:50px;"><a href="{% url 'hot_ask' %}" data-ajax="false"><span style="color:grey">热门问题</span><br><img src="{{media_url}}worktype/hot.png"/></a></div>
   </div>
   <br>
   
    
   
    
{% endblock %}
