{% extends 'base.html' %}
{% block content %}
    <h3>我的问题列表：<h3>
    <ol data-role="listview">
    {% for work in works %}
    <li>
    <a href="{% url 'show_ask' work.id %}" data-ajax="false">{{work.name}}
    <span class="ui-li-count">
    {% if work.status == 1 %}
    申请中
    {% elif work.status == 2 %}
    解答中
    {% elif work.status == 3 %}
    评分中
    {% else %}
    已完成
    {% endif %}
	</span>
	</a>
	</li>
    {% endfor %}
    <a href="{% url 'user_login' %}" data-role="button">返回</a>
{% endblock %}
