{% extends 'base.html' %}
{% block content %}
    <h3>我的解答</h3>
    <ol data-role="listview">
    {% for app in apps %}
    <li><a href="{% url 'show_answer' app.work.id %}" data-ajax="false">{{app.work.name}}
    <span class="ui-li-count">
    {% if app.comment.status == 1 %}
    未提交
    {% elif app.comment.status == 2 %}
    已提交
    {% else %}
    未写解答
    {% endif %}
	</span>
    </a></li>
    {% endfor %}
    </ol>
    <br>
    <br>
    <a href="{% url 'user_login' %}" data-role="button">返回</a>
    
{% endblock %}
