{% extends 'base.html' %}
{% block content %}
    <h3>订单列表：<h3>
    <ol data-role="listview" data-filter="true">
    {% for order in orders %}
   
    <li>
    <a href="{% url 'view_order' order.id %}" data-ajax="false">{{order.subject}}
    <span class="ui-li-count">{% if order.status == 1 %} 已支付 {% elif order.status == 0 %} 未支付 {% endif %}
    </a></li>
    
    
    {% endfor %}

    

    
    
    
    
    <a href="{% url 'user_login' %}" data-role="button">返回</a>
{% endblock %}
