{% extends 'base.html' %}
{% block head %}
<script type="text/javascript" src="{{STATIC_URL}}js/jsAddress.js"></script>
<script src="{{STATIC_URL}}js/code.js"></script>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/code.css">
<script type="text/javascript">
function disp_success()
{
alert("提交成功")
}
</script> 
{% endblock %}
{% block body %}
{% if info == 'OK' %}
<body onload="disp_success();self.location='{% url 'user_login' %}'; ">
{% else %}
<body onload="addressInit('cmbProvince', 'cmbCity', 'cmbArea', '北京', '市辖区', '东城区');createCode();">
{% endif %}
{% endblock %}
{% block content %}
<form method="post" data-ajax="false" action="{% url 'register' %}">{% csrf_token %}
<div style="text-align:center;">账号注册</div>
	<label>账号:</label>{{form.username}}{{form.username.errors}}
	<label>请输入密码:</label>{{form.password1}}{{form.password1.errors}}
	<label>请再次输入密码:</label>{{form.password2}}{{form.password2.errors}}
	<label>姓:</label>{{form.last_name}}{{form.last_name.errors}}
	<label>名:</label>{{form.first_name}}{{form.first_name.errors}}
	<label>性别:</label>{{form.sex}}{{form.sex.errors}}
	<label>生日:</label><input type="date" name="birth" />{{form.birth.errors}}
	
	<label>省：</label><select id="cmbProvince" name="province"></select>{{form.province.errors}}
	<label>市：</label><select id="cmbCity" name="city"></select>{{form.city.errors}}
	<label>区：</label><select id="cmbArea" name="area"></select>{{form.area.errors}}
   
    <label>详细地址:</label> {{form.address}}{{form.address.errors}}   
	<label>电子邮箱:</label>{{form.email}}{{form.email.errors}}
	<label>手机:</label>{{form.phone}}{{form.phone.errors}}
	<label>注册用户类型:</label>{{form.type}}
	<label>验证码:</label>     
	<input type="" id="checkCode" class="code" style="width: 55px" /> <a href="#" onclick="createCode()">看不清楚</a>
	<input type="text" id="verify" /> 
	      
	<br>
	<br>
	<button type="submit" data-theme="b" onclick="return validate();">提交</button>
	<a href="{% url 'index' %}" data-role="button" data-ajax="false">返回</a>
</form>
{% endblock %}