{% extends 'base.html' %}
{% block content %}
<form method="post" data-ajax="false" action="{% url 'register' %}">{% csrf_token %}
<div align="center"><legend >账号注册</legend></div>
	<label>账号:</label>{{form.username}}
	<label>密码:</label>{{form.password}}
	<label>姓:</label>{{form.last_name}}
	<label>名:</label>{{form.first_name}}
	<label>性别:</label>{{form.sex}}
	<label>生日:</label><input name="birth" type="date" />
	<label>地址:</label>
	<label>请选择省份</label>
	<select id="selectProvince" name="province">  
                    <option value="-1">请选择省份</option> 
     </select>
	<label>请选择城市</label>
	<select id="selectCity" name="city">  
                    <option value="-1">请选择城市</option>  
            </select>
             
  
        <script src="{{STATIC_URL}}js/province-and-city-json.js"></script>  
        <script src="{{STATIC_URL}}js/create-province-and-city.js"></script>
            
	<label>电子邮箱:</label>{{form.email}}
	<label>手机:</label>{{form.phone}}
	<label>注册用户类型:</label>{{form.type}}
	<br>
	<br>
	<button type="submit" data-theme="b">提交</button>
	<button type="button" data-theme="d">返回</button>
</form>
{% endblock %}