{% extends 'base.html' %}
{% block content %}
    <label>标题:</label>{{work.name}}<br><br>
    <label>简述:</label><br>
    {{work.desc}}<br>
    {% if applicate.stat == 1 %}
    <label>详细内容:</label><br>
    {{work.content}}<br>
    <label>视频或音频:</label><br>
    {% if work.getfilesuffix == '.mp4' %} 
    <video src="{{media_url}}{{work.file|cut:media_root}}" width="320" height="240" controls>
 	<source type=video/mp4 />
 	您的浏览器不支持播放此视频
 	</video><br>
 	{% endif %}
 	{% if work.getfilesuffix == '.wav' %}
    <audio src="{{media_url}}{{work.file|cut:media_root}}" controls>
	不支持此音频
 	</audio><br>
 	{% endif %}
 	<label>截图:</label><br>
 	{% if work.image and work.image.name != 'False' %}
 	<img src="{{media_url}}{{work.image|cut:media_root}}" alt="截图" height="300" width="300" />
 	{% endif %}
    <br>
     <label>补充说明:</label>
     {% if work.addit  %}
     {{work.addit}}
     {% else %}
     <p>无</p>
     {% endif %}
    {% elif applicate.stat == 2 %}
    <p>您已被拒绝答疑</p>
    {% elif applicate.stat == 0 %}
    <p>正在申请答疑中</p>
    {% else %}
    <a href="{% url 'app_answer' id %}" data-role="button" data-theme="b" data-ajax="false">申请答疑</a>
    {% endif %}
    
    <br>
    <br>
    
    <a href="{% url 'to_answer' %}" data-role="button">返回</a>
    
{% endblock %}
