{% extends 'base.html' %}
{% block content %}
    <label>标题:</label>{{work.name}}<br><br>
    <label>简述:</label><br>
    {{work.desc}}<br>
    <label>详细内容:</label><br>
    {{work.content}}<br>
    <label>视频或音频:</label><br>
    {% if work.getfilesuffix == '.mp4' %} 
    <video src="{{media_url}}{{work.file|cut:media_root}}" width="320" height="240" controls>
 	<source type=video/mp4 />
 	您的浏览器不支持播放此视频
 	</video><br>
 	{% endif %}
 	{% if work.getfilesuffix == '.wav' %}
    <audio src="{{media_url}}{{work.file|cut:media_root}}" controls>
	不支持此音频
 	</audio><br>
 	{% endif %}
 	<label>截图:</label><br>
 	{% if work.image and work.image.name != 'False' %}
 	<img src="{{media_url}}{{work.image|cut:media_root}}" alt="截图" height="300" width="300" />
 	{% endif %}
    <br>
     <label>补充说明:</label>
     {% if work.addit  %}
     {{work.addit}}
     {% else %}
     <p>无</p>
     {% endif %}
    <br>
    <br>
    <br>
    {% if work.status == 1 %}

     
    <a href="{% url 'edit_ask' work.id %}" data-role="button" data-theme="b" data-ajax="false">编辑</a>
    <a href="{% url 'del_ask' work.id %}" onclick="if(confirm('确定删除?')==false) return false;" data-role="button" data-ajax="false" data-theme="a">删除</a>
    <label>已收到申请</label>:
    {% if count != 0 %}
    {{count}}
    {% else %}
    	无
    {% endif %}
     <label>已同意申请</label>:
     {% if n != 0 %}
     {{n}}
     {% else %}
   		  无
     {% endif %}
     <a href="{% url 'manage_app' work.id %}" data-role="button" data-theme="b" data-ajax="false">申请管理</a>
    {% endif %}
    {% if work.status == 2 %}
    <form method="post"  data-ajax="false" action="{% url 'addit_ask' work.id %}">{% csrf_token %}
    <label>编辑说明:</label>
    <input type="text" name="addit" value="{% if work.addit %}{{work.addit}}{% else %}{% endif %}" />
    <button type="submit" data-theme="b" >提交</button>
    </form>
    <label>待提交解答</label>:
    {% if com_count != 0 %}
    {{com_count}}
    {% else %}
    	无
    {% endif %}
    <label>已提交解答</label>:
    {% if m != 0 %}
     {{m}}
     {% else %}
   		  无
     {% endif %}
    {% endif %}
    {% if work.status == 3 %}
    <a href="{% url 'view_com' work.id %}" data-role="button" data-theme="b" data-ajax="false">查看解答</a>
    {% endif %}
    {% if work.status == 4 %}
    <p>恭喜您已完成一条问题</p>
    {% endif %}
    <br>
    <a href="{% url 'my_ask' %}" data-role="button">返回</a>
    
{% endblock %}
