{% extends 'base.html' %}
{% block content %}
    <label>标题:</label>{{work.name}}<br><br>
    <label>简述:</label><br>
    {{work.desc}}<br>
    {% if applicate.stat == 1 %}
    	{% if applicate.work.status == 2 %}
    	<label>详细内容:</label><br>
    	{{work.content}}<br>
   	 	<label>视频或音频:</label><br>
   	 	
    		{% if work.getfilesuffix == '.mp4' %} 
    		
    		<video src="{{media_url}}{{work.file|cut:media_root}}" width="320" height="240" controls>
 			<source type=video/mp4 />
 			您的浏览器不支持播放此视频
 			</video><br>
 			{% endif %}
 			{% if work.getfilesuffix == '.wav' %}
    		<audio src="{{media_url}}{{work.file|cut:media_root}}" controls>
			不支持此音频
 			</audio><br>
 			{% endif %}
 			<label>截图:</label><br>
 			{% if work.image and work.image.name != 'False' %}
 			<img src="{{media_url}}{{work.image|cut:media_root}}" alt="截图" height="300" width="300" />
 			{% endif %}
    		<br>
     		<label>补充说明:</label>
     		{% if work.addit  %}
     		{{work.addit}}
     		{% else %}
    		 <p>无</p>
     		{% endif %}
     		{% if n == 0 %}
     		<a href="{% url 'to_com' id %}" data-role="button" data-theme="b" data-ajax="false">提交解答</a>
     		{% elif n == 1 %}
     		<a href="{% url 'submit_com' work.id %}" data-role="button" data-theme="b" data-ajax="false" onclick="if(confirm('提交后无法修改，请确认?')==false) return false;">确认提交解答</a>
     		<br>
     		<a href="{% url 'edit_com' id %}" data-role="button" data-theme="b" data-ajax="false">修改解答</a>
     		<a href="{% url 'del_com' id %}" onclick="if(confirm('确定删除?')==false) return false;" data-role="button" data-theme="a" data-ajax="false">删除解答</a>
     		{% elif n == 2 %}
     		<p>您的评论已提交，请等待结果</p>
     		{% endif %}
     	 {% elif applicate.work.status == 3 %}
     	 <p>此问题所有评论已提交，等待学生评分</p>
     	 {% elif applicate.work.status == 4 %}
     	 <p>解答已结束，您的评分为{{applicate.comment.score}}分</p>
    	 {% else %}
     	<p>您的申请已初步通过，待进一步确认</p>
     	{% endif %}
    
    {% elif applicate.stat == 0 %}
    <p>正在申请答疑中</p>
    <a href="{% url 'del_answer' id %}" onclick="if(confirm('确定删除?')==false) return false;" data-role="button" data-ajax="false" data-theme="a">取消申请</a>
    {% else %}
    <a href="{% url 'app_answer' id %}" data-role="button" data-theme="b" data-ajax="false">申请答疑</a>
    {% endif %}
    
    <br>
    <br>
    
    <a href="#" data-role="button" data-rel="back">返回</a>
    
{% endblock %}
