{% extends 'base.html' %}
{% block head %}
<link href="{{STATIC_URL}}css/style.css" rel="stylesheet" type="text/css"/>
<script src="//cdn.bootcss.com/jquery/1.8.3/jquery.js"></script>
<script src="//cdn.bootcss.com/jquery-validate/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/workvalidate.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/workupload.js"></script>


{% endblock %}


{% block content %}
<form id="form" method="post" enctype="multipart/form-data"  action="javascript: uploadFile()">{% csrf_token %}

<div style="text-align:center;">提交问题</div>
	<label>名称:</label>{{form.name}}{{form.name.errors}}   
	<label>简述(选填）:</label>{{form.desc}}{{form.desc.errors}}  
	<label>详细内容:</label>{{form.content}}{{form.content.errors}}
	<label>视频（可选）:</label><input type="file" name="video" id="id_video"  onchange="videoSelected();" />{{form.video.errors}}  
	<div id="videoName">
        </div>
        <div id="videoSize">
        </div>
        <div id="videoType">
        </div> 
	<label>音频（可选）:</label><input type="file" name="audio" id="id_audio"  onchange="audioSelected();" />{{form.audio.errors}} 
	<div id="audioName">
        </div>
        <div id="audioSize">
        </div>
        <div id="audioType">
        </div>  
	<label>截图（可选）:</label>{{form.image}}{{form.image.errors}} 
	<br>
	处理进度：
	<div class="progressbar_1"> 
     <div id="bar" class="bar" ></div> 
    </div>  
	<br>
	<button type="submit" data-theme="b" >提交</button>
	<a href="{% url 'user_login' %}" data-role="button">返回</a>
</form>

{% endblock %}