{% extends 'base.html' %}
{% block head %}
<script type="text/javascript">
function disp_success()
{
alert("提交成功")
}
</script>
{% endblock %}

{% block body %}
{% if info == 'OK' %}
<body onload="disp_success();self.location='{% url 'show_answer' work.id %}'; ">
{% else %}
<body>
{% endif %}
{% endblock %}

{% block content %}
<form method="post" enctype="multipart/form-data" data-ajax="false" action="{% url 'to_com' work.id %}">{% csrf_token %}
<div style="text-align:center;">提交评论</div>
	<label>评论:</label>{{form.content}}{{form.content.errors}}   
	<label>视频或音频（可选）:</label>{{form.file}}{{form.file.errors}}  
	<label>截图（可选）:</label>{{form.image}}{{form.image.errors}} 
	<br>
	<br>
	<button type="submit" data-theme="b" >提交</button>
	<a href="#" data-role="button" data-rel="back">返回</a>
</form>
{% endblock %}