{% extends 'base.html' %}
{% block content %}
<form method="post" data-ajax="false" action="{% url 'user_login' %}">{% csrf_token %}
    <div style="text-align:center;">登陆</div>
    <label>用户名</label>{{form.username}}{{form.username.errors}}
    <label>密码</label>{{form.password}}{{form.password.errors}}
    <a href="{% url 'register' %}" data-ajax="false">还没有账号请点我</a>
    {% for item in error %}
    <p style="color:red;">{{item}}</p>
    {% endfor %}
    <button type="submit" data-theme="b" >提交</button>
    <a href="{% url 'index' %}" data-role="button" data-ajax="false">返回</a>
</form>
{% endblock %}
