{% extends 'base.html' %}
{% block content %}
    <h3>{{teacher.user.last_name}}老师的信息</h3>
    <label>姓名:</label>{{teacher.user.last_name}}{{teacher.user.first_name}}
    <hr>
    <label>解答数:</label>{{coms}}次
    <hr>
    <label>分数:</label>{{teacher.score}}
    <hr>
    <label>教师资格证:</label><br>
    <img src="{{media_url}}{{teacher.cert}}" alt="教师资格证" height="300" width="300"/>
    <hr>
    {% if teacher.othercert %}
    	<label>其他资格证(选填):</label><br>
    	<img src="{{media_url}}{{teacher.othercert}}" alt="其他资格证" height="300" width="300"/>
    	<hr>
    {% endif %}
    {% if teacher.work %}
    	<label>作品(选填):</label><br>
    	{% if teacher.getworksuffix == '.mp4' %}
    	<video id="really-cool-video" class="video-js vjs-default-skin" controls 
 preload="auto" width="320" height="240" poster="really-cool-video-poster.jpg"
 data-setup='{}'>
  		<source src="{{media_url}}{{teacher.work}}" type='video/mp4'>
  		<p class="vjs-no-js">
    	To view this video please enable JavaScript, and consider upgrading to a web browser
    	that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
  		</p>
		</video>
		{% elif teacher.getworksuffix == '.mp3' %}
			<audio src="{{media_url}}{{teacher.work}}" controls>
			您的浏览器不支持 audio 标签。
			</audio>
		{% elif teacher.getworksuffix == '.wav' %}
			<audio src="{{media_url}}{{teacher.work}}" controls>
			您的浏览器不支持 audio 标签。
			</audio>
		{% endif %}
		<a href="{{media_url}}{{teacher.work}}" data-ajax="false">点击下载</a>
    	<hr>
    {% endif %}
    <a href="#" data-role="button" data-rel="back">返回</a>
    
    
{% endblock %}
