{% extends 'base.html' %}
{% block head %}
<script type="text/javascript" src="{{STATIC_URL}}js/changedata.js"></script>
<script>
$.ajaxSetup({
    data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
});
</script>
{% endblock %}
{% block content %}
	<div id="total_fee" hidden>{{order.total_fee}}</div>
    <h3>评论列表：<h3>
    {% for app in apps %}
    <div data-role="collapsible">
    <h4>{{app.teacher.user.last_name}}老师的解答</h4>
    <label>内容：</label><br>
    <div>{{app.comment.content}}</div>
    <hr>
    {% if app.comment.video %}
    <label>视频：</label><br>
    
<video id="really-cool-video" class="video-js vjs-default-skin" controls 
 preload="auto" width="320" height="240" poster="really-cool-video-poster.jpg"
 data-setup='{}'>
  <source src="{{media_url}}{{app.comment.video}}" type='video/mp4'>
  <p class="vjs-no-js">
    To view this video please enable JavaScript, and consider upgrading to a web browser
    that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
  </p>
</video>
<a href="{{media_url}}{{app.comment.video}}" >点击下载</a>
<br>
   <hr>
{% endif %}
{% if app.comment.audio %}
   <label>音频：</label><br>
   <audio src="{{media_url}}{{app.comment.audio}}" controls>
	您的浏览器不支持 audio 标签。
	</audio>

	<br>
	<a href="{{media_url}}{{app.comment.audio}}" >点击下载</a>
<br>
   <hr>
	{% endif %}
	{% if app.comment.image %}
 	<label>图片:</label><br>
 			<img src="{{media_url}}{{app.comment.image}}" alt="截图" height="300" width="300" />
<hr>
 	{% endif %}


    <input type="range" id="score{{app.comment.id}}" name="score{{app.comment.id}}"  value="{{app.comment.score}}" min="3" max="10" onchange="changeScore({{app.comment.id}})">
    <div id="worth{{app.comment.id}}"></div>

  </div>
  {% endfor %}
  {% if info == 'ERR' %}
  <label style="color:red">总分和为10分，请检查您的评分</label>
  {% endif %}
   <form method="post" action="{% url 'view_com' work.id %}" data-ajax="false">{% csrf_token %}
   
  	<button type="submit"data-theme="b" onclick="if(confirm('提交后无法修改，请确认?')==false) return false;">完成评分</button>
  	</form>
   
    <a href="#" data-role="button" data-rel="back">返回</a>
{% endblock %}
